@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
  font-family: 'Autography';
  src: url('/fonts/Autography.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}
