@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
  font-family: 'Autography';
  src: url('/fonts/Autography.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  overflow-x: hidden;
  position: static;
  width: 100%;
  min-height: 100svh;
}

@supports (-webkit-touch-callout: none) {
  body {
    min-height: -webkit-fill-available;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}
